@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: thin;
  src: url("../fonts/OpenSans-Light.ttf");
}
