//device width
$tablet-width: "min-width: 768px";
$desktop-width: "min-width: 1150px";
$mobile-width: "max-width: 767px";

//colors
$text-black: #000000;
$text-gray: #444444;
$text-green: #63d1bb;
$color-interior: #63d1bb;
$color-toys: #56c3b2;
$border-color: #ececec;
$icon-search: #d3d2d2;

//margin-mobile
$margin-header: 30 / 320 *100%;