//device width
$tablet-width: 768px;
$desktop-width: 1250px;
$mobile-width: 320px;
$max: 1366px;

//colors
$text-white: #ffffff;
$text-black: #000000;
$text-gray: #444444;
$text-green: #63d1bb;
$color-interior: #63d1bb;
$color-toys: #56c3b2;
$border-color: #ececec;
$placeholder-color: $text-gray;
$border-green: #63d1bb;
$border-button: #444444;
$border-input: #000000;
$icon-search: #d3d2d2;
$footer-background: #f1f1f1;
$catalog-background: $footer-background;

//margin-mobile

$catalog-margin: 30px;
$margin-header: 30 / 320 * 100%;


//font-size
$main-size: 17px;
$big-size: 27px;
$small-size: 13px;

