.catalog__title {
  margin: auto;
  height: 177px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $catalog-background;
}

.catalog__items {
  @media only screen and (max-width: $tablet-width) {
    padding: 0 $margin-header;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog__item {
  @media only screen and (max-width: $tablet-width) {
    width: 100%;
    max-width: 400px;
    margin: $catalog-margin 0 0 0;
  }
  border: 2px solid $border-color;
}
.catalog__description {
  padding: $catalog-margin - 2px;
}
.catalog__details {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $border-color;
}

.catalog__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog__button {
  width: 100%;
}

.catalog__image-target {
  width: 100%;
  height: 100%;
}

.catalog__subtitle {
  @media only screen and (max-width: $tablet-width) {
    margin: $catalog-margin;
  }
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45px;
}
.catalog__camera-description{
  justify-self: flex-start;
}
.catalog__video-image {
  line-height: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.catalog__video--play {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -30px;
}
.catalog__video {
  position: relative;
}
.catalog__item-video{
  margin-bottom: $catalog-margin;
}
