.feedback {
  @include mobile-layout-small;
}
.feedback__description {
  grid-column-start: 2;
  grid-column-end: 3;
}
.feedback__form {
  grid-column-start: 2;
  grid-column-end: 3;
}
.feedback__tag {
  text-transform: uppercase;
  color: $text-green;
  margin-right: 25px;
}
.feedback__decoration {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.feedback__form--line {
  width: 100%;
  height: 1px;
  background: $border-green;
}
.feedback__check-wrapper {
  display: flex;
  flex-direction: column;
}
.feedback__color {
  display: flex;
  flex-direction: column;
}
.feedback__input-wrap {
  display: flex;
  flex-direction: column;
}

.feedback__input {
  border: none;
  border-bottom: 1px solid $border-input;
  line-height: 0;
  overflow: hidden;
  width: 100%;
}

.feedback__input[placeholder] {
  padding-bottom: 10px;
  color: $placeholder-color;
  font-size: $main-size;
  font-family: "Open Sans", Verdana, sans-serif;
}

.feedback__contact-wrap {
  position: relative;
}

.feedback__icon {
  position: absolute;
  right: 0;
  top: 0;
}
.feedback__message {
  width: 100%;
  border: 1px solid $border-input;
}
.feedback__button {
  width: 100%;
}
