.feedback__tag {
  text-transform: uppercase;
  color: $text-green;
  margin-right: 25px;
}
.feedback__decoration {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.feedback__form--line {
  width: 100%;
  height: 1px;
  background: $border-green;
}

.feedback__color {
  display: flex;
  flex-direction: column;
}
.feedback__input-wrap {
  display: flex;
  flex-direction: column;
}

.feedback__input {
  border: none;
  border-bottom: 1px solid $border-input;
  line-height: 0;
  overflow: hidden;
  width: 100%;
}

.feedback__input[placeholder] {
  padding-bottom: 10px;
  color: $placeholder-color;
  font-size: $main-size;
  font-family: "Open Sans", Verdana, sans-serif;
}

.feedback__contact-wrap {
  position: relative;
}

.feedback__icon {
  position: absolute;
  right: 0;
  top: 0;
}
.feedback__message {
  width: 100%;
  border: 1px solid $border-input;
}
.feedback__button {
  width: 100;
}

//checkbox
.feedback__radio[type="radio"],
.feedback__radio[type="checkbox"] {
  /* Hide original inputs */
  visibility: hidden;
  position: absolute;
}

.feedback__radio[type="radio"] + label:before,
.feedback__radio[type="checkbox"] + label:before {
  height: 35px;
  width: 35px;
  content: " ";
  display: inline-block;
  vertical-align: baseline;
  border: 1px solid #777;
}

.feedback__radio[type="radio"]:checked + label:before,
.feedback__radio[type="checkbox"]:checked + label:before {
  background: gold;
}
.feedback__radio[type="radio"] + label:before {
  border-radius: 50%;
}
//
