.knitting__form {
  @media only screen and (max-width: $tablet-width) {
    padding: 0 $margin-header;
  }
}

.knitting__title {
  margin: auto;
  height: 177px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $catalog-background;
}
