.main-nav {
  display: grid;
}
.main-nav__top {
  display: grid;
  grid-template-columns: $margin-header 1fr 100px 1fr $margin-header;
  border-bottom: 2px solid $border-color;
  height: 80px;
  align-content: center;
}
.main-nav--help {
  grid-column-start: 2;
  grid-column-end: 3;
}
.main-nav__logo {
  grid-column-start: 3;
  grid-column-end: 4;
}
.main-nav__toggle {
  grid-column-start: 4;
  grid-column-end: 5;
}

.main-nav__toggle {
  background: none;
  border: none;
  justify-self: end;
  cursor: pointer;
}
