.main-nav__top {
  @media only screen and (max-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid $border-color;
    height: 80px;
  }
}
.main-nav__toggle {
  position: absolute;
  padding: 0;
  margin: 0;
  right: $margin-header;
  background: none;
  border: none;
  cursor: pointer;
}

.main-nav__toggle--btn {
  margin: 0;
  padding: 0;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
}
