.offer__wrapper {
  display: flex;
  position: relative;

  @media only screen and (max-width: $tablet-width - 1px) {
    flex-wrap: wrap;
    padding: 0 $margin-header;
    margin-bottom: $absolute-imagebox;
  }
  @media only screen and (min-width: $tablet-width) {
    padding: 0 $margin-header-tab;
    flex-direction: column;
  }
  @media only screen and (min-width: $desktop-width) {
    padding: 0 $margin-header-desk;
  }
}
.offer__price-wrapper > * {
  width: 90%;
}
.offer__price-wrapper {
  @media only screen and (min-width: $tablet-width) {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.offer__cover {
  @media only screen and (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
  }
}
.offer__title {
  @media only screen and (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.offer__description {
  @media only screen and (max-width: $tablet-width - 1px) {
    width: 100%;
  }
  @media only screen and (min-width: $tablet-width) {
    p {
      margin: 0;
    }
  }
  color: $text-gray;
}

.offer__product-detail {
  color: $text-gray;
  @media only screen and (max-width: $tablet-width - 1px) {
    width: 100%;
  }
}
.offer__image-box {
  @media only screen and (max-width: $tablet-width - 1px) {
    width: 100%;
    margin-top: 40px;
  }
  @media only screen and (min-width: $tablet-width) {
    flex: 1 0 50%;
    margin: 0;
  }
}

.offer__image {
  width: 100%;
  height: auto;
}

.offer__price {
  text-align: center;
  margin-top: 20px;
  color: $text-gray;
}
.offer__character {
  border-bottom: 1px solid $border-color;
}
.offer__product-detail {
  border-collapse: collapse;
  margin-top: 20px;
  td {
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 100px;
  }
}
.offer__detail-descr {
  text-align: left;
}

.offer__cost {
  @media only screen and (max-width: $tablet-width - 1px) {
    width: 100% - 2 * $margin-header;
    position: absolute;
    bottom: -$absolute-imagebox;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offer__order {
  width: 100%;
  @media only screen and (min-width: $tablet-width) {
    margin-bottom: 5px;
  }
}
.offer__title-second {
  color: $text-green;
}
