.products__wrapper-image {
  position: relative;
}
.products__background {
  line-height: 0;
  overflow: hidden;
}
.products__image {
  width: 100%;
  height: auto;
}
.products__title {
  position: absolute;
  left: $margin-header;
  right: $margin-header;
  top: 15%;
  text-align: center;
}
