.reviews {
  @media only screen and (min-width: $tablet-width) {
    margin-bottom: $margin-header-tab *2;
  }
}

.reviews__wrapper {
  position: relative;
  @media only screen and (max-width: $tablet-width - 1px) {
    padding: 0 $margin-header;
    flex-direction: column;
  }
  @media only screen and (min-width: $tablet-width) {
    padding: 0 $margin-header-tab;
    flex-wrap: wrap;
    padding-top: $margin-header-tab;
    align-items: center;
  }
  @media only screen and (min-width: $desktop-width) {
    padding: 0 $margin-header-desk;
  }
  display: flex;
}

.reviews__title {
  @media only screen and (min-width: $tablet-width) {
    flex: 1 0 70%;
  }
}

.reviews__write {
  @media only screen and (max-width: $tablet-width - 1px) {
    order: 1;
  }
  @media only screen and (min-width: $tablet-width) {
    flex: 1 0 20%;
    margin: 0;
  }
}

.reviews__image {
  z-index: -1;
  @media only screen and (max-width: $tablet-width - 1px) {
    display: none;
  }
  @media only screen and (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 0;
  }
  @media only screen and (min-width: $desktop-width) {
    left: $margin-header-desk;
  }
}
