.reviews__wrapper {
  @media only screen and (max-width: $tablet-width) {
    padding: 0 $margin-header;
    flex-direction: column;
  }
  display: flex;
}
.reviews__authors {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.reviews__description {
  color: $text-gray;
}

.reviews__handler {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.reviews__link {
  width: 100%;
  max-width: 160px;
  border: 1px solid $border-color;
  display: flex;
  justify-content: center;
}
.reviews__arrow {
  width: 40%;
  margin: 15px 0 15px 0;
}

.reviews__write {
  order: 1;
}
