.services-list__item {
  text-decoration: none;
  @media only screen and (max-width: $tablet-width) {
    padding: 0 $margin-header;
  }
  height: 100px;
  background: $color-interior;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services-list__item:nth-child(2n) {
  background: $color-toys;
}

.services-list__title {
  color: $text-white;
}
