.site-list {
  @media only screen and (min-width: $tablet-width) {
    padding: 0 $margin-header-tab;
  }
  @media only screen and (min-width: $desktop-width) {
    padding: 0 $margin-header-desk;
  }
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.site-list__link {
  text-decoration: none;
  @media only screen and (max-width: $tablet-width - 1px) {
    height: 80px;
    border-bottom: 2px solid $border-color;
  }
  align-items: center;
}

.site-list__link {
  display: flex;
  align-items: center;
}
.site-list__item {
  display: flex;
  align-items: center;
}
.site-list__image {
  @media only screen and (max-width: $tablet-width - 1px) {
    position: absolute;
    left: $margin-header;
  }
}
.site-list__description {
  @media only screen and (max-width: $tablet-width - 1px) {
    margin-left: 30vw;
  }
}

.site-list--search {
  @media only screen and (min-width: $tablet-width) {
    display: none;
  }
}

.site-list--delivery {
  @media only screen and (max-width: $tablet-width - 1px) {
    display: none;
  }
}
