.site-list {
  display: grid;
  grid-template-rows: auto;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.site-list__link {
  @include mobile-layout-small;
  text-decoration: none;
  height: 80px;
  align-content: center;
  border-bottom: 2px solid $border-color;
}

.site-list__item {
  grid-column-start: 2;
  grid-column-end: 3;
}
