<main class="page-main">
    <section class="catalog">
        <h1 class="catalog__title">Каталог товаров</h1>
        <dёiv class="catalog__items">
            <div class="catalog__item">
                <div class="catalog__image"><img src="" alt=""></div>
                <div class="catalog__description">
                    <h2>Зайчик-попрыгайчик</h2>
                    <p>Рост 30 см, вес 200 г</p>
                    <div class="catalog__price">
                        <b>1 200 руб.</b>
                        <img src="" alt="">
                    </div>
                </div>
            </div>
            <div class="catalog__item">
                <div class="catalog__image"><img src="" alt=""></div>
                <div class="catalog__description">
                    <h2>Корзинка для белья</h2>
                    <p>Диаметр 15 см, высота 10 см</p>
                    <div class="catalog__price">
                        <b>690 руб.</b>
                        <img src="" alt="">
                    </div>
                </div>
            </div>
            <div class="catalog__item">
                <div class="catalog__image"><img src="" alt=""></div>
                <div class="catalog__description">
                    <h2>Большая корзинка
                        для игрушек</h2>
                    <p>Диаметр 30 см, высота 30 см</p>
                    <div class="catalog__price">
                        <b>1 500 руб.</b>
                        <img src="" alt="">
                    </div>
                </div>
            </div>
            <div class="catalog__item">
                <div class="catalog__image"><img src="" alt=""></div>
                <div class="catalog__subtitle">
                    <img src="" alt="">
                    <h2>Процесс производства</h2>
                </div>
                <div class="catalog__video">
                    <img class="catalog__video-image" src="" alt="">
                    <img class="catalog__video--play" src="" alt="">
                </div>
                <div class="catalog__description">
                    <p>По просьбам наших любимых фолловеров мы сняли для вас подробное видео о том, как появляются
                        наши товары.</p>
                    <button class="button catalog__button">Сделать заказ</button>
                </div>
            </div>
            </div>
    </section>

</main>