<main class="page-main">
    <section class="catalog">
        <div class="catalog__title-wrapper">
            <h1 class="catalog__title">Каталог товаров</h1>
            <img class="wave" src="image/bg-zigzag-fill.svg" alt="">
        </div>
        <div class="catalog__items">
            <div class="catalog__item">
                <div class="catalog__image"><img class="catalog__image-target" src="image/photo-1-tablet@1x.jpg" alt="">
                </div>
                <div class="catalog__description">
                    <div>
                        <b>Зайчик-попрыгайчик</b>
                        <p class="catalog__details">Рост 30 см, вес 200 г</p>
                    </div>

                    <div class="catalog__price">
                        <b>1 200 руб.</b>
                        <img src="image/icons/icon-cart.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="catalog__item">
                <div class="catalog__image"><img class="catalog__image-target" src="image/photo-2-tablet@1x.jpg" alt="">
                </div>
                <div class="catalog__description">
                    <div>
                        <b>Корзинка для белья</b>
                        <p class="catalog__details">Диаметр 15 см, высота 10 см</p>
                    </div>
                    <div class="catalog__price">
                        <b>690 руб.</b>
                        <img src="image/icons/icon-cart.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="catalog__item">
                <div class="catalog__image"><img class="catalog__image-target" src="image/photo-3-tablet@1x.jpg" alt="">
                </div>
                <div class="catalog__description">
                    <div>
                        <b>Большая корзинка
                            для игрушек</b>
                        <p class="catalog__details">Диаметр 30 см, высота 30 см</p>
                    </div>
                    <div class="catalog__price">
                        <b>1 500 руб.</b>
                        <img src="image/icons/icon-cart.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="catalog__item-video">
                <div class="catalog__subtitle">
                    <img class="catalog__camera" src="image/icons/icon-video.svg" alt="">
                    <b class="catalog__camera-description">Процесс производства</b>
                </div>
                <div class="catalog__video">
                    <img class="catalog__video-image" src="image/video-mobile@1x.jpg" alt="">
                    <img class="catalog__video--play" src="image/icons/icon-play.svg" alt="">
                </div>
                <div class="catalog__video-descr">
                    <p>По просьбам наших любимых фолловеров мы сняли для вас подробное видео о том, как появляются
                        наши товары.</p>
                    <button class="button catalog__button">Сделать заказ</button>
                </div>
            </div>
        </div>
    </section>

</main>