<footer class="page-footer">
    <div class="page-footer__wrapper">
        <a class="page-footer__logo" href="">
            <img class="page-footer__logo-image" src="image/icons/logo-footer.svg" alt="">
        </a>
        <div class="page-footer__social-icons">
            <img class="social-icons__item" src="image/icons/icon-insta.svg" alt="">
            <img class="social-icons__item" src="image/icons/icon-fb.svg" alt="">
            <img class="social-icons__item" src="image/icons/icon-twitter.svg" alt="">
        </div>
        <div class="page-footer__developed-by">
            <b class="developed-by__title">Разработано</b>
            <img class="developed-by__image" src="image/icons/logo-htmlacademy.svg" alt="">
        </div>
    </div>
</footer>