<footer class="page-footer">
    <a class="page-footer__logo" href="">
        <img class="page-footer__logo-image" src="" alt="">
    </a>
    <div class="social-icons">
        <img class="social-icons__item" src="" alt="">
        <img class="social-icons__item" src="" alt="">
        <img class="social-icons__item" src="" alt="">
    </div>
    <div class="developed-by">
        <b class="developed-by__title">Разработано</b>
        <img class="developed-by__image" src="" alt="">
    </div>

</footer>