<main class="page-main">
    <section class="knitting">
        <div class="knitting__title-wrapper">
            <h1 class="knitting__title">Вязание на заказ</h1>
            <img class="wave" src="image/bg-zigzag-fill.svg" alt="">
        </div>
        <div class="knitting__form feedback">
            <div class="feedback__description">Мы будем рады воплотить в жизнь ваши пожелания! Заполните простую форму
                заказа и мы свяжемся с вами, чтобы уточнить детали.</div>
            <form class="feedback__form">
                <div class="feedback__type">
                    <div class="feedback__padding">
                        <div class="feedback__decoration">
                            <label class="feedback__tag"><b>Тип</b></label>
                            <div class="feedback__form--line"></div>
                        </div>
                        <div class="feedback__label feedback__position">
                            <label class="feedback__radio-container">Аксессуар для
                                интерьера
                                <input class="feedback__radio-input" type="radio" name="choice" checked="checked">
                                <span class="feedback__radio-checkmark"></span>
                            </label>
                            <label class="feedback__radio-container">Детская игрушка
                                <input class="feedback__radio-input" type="radio" name="choice">
                                <span class="feedback__radio-checkmark"></span>
                            </label>
                        </div>
                    </div>

                </div>

                <div class="feedback__color feedback__colored">
                    <div class="feedback__padding">
                        <div class="feedback__decoration">
                            <label class="feedback__tag"><b>Цвет</b></label>
                            <div class="feedback__form--line"></div>
                        </div>
                        <div class="feedback__label feedback__color-label feedback__position">
                            <label class="feedback__check-container">Белый
                                <input class="feedback__check-input" type="checkbox" name="color" checked="checked">
                                <span class="feedback__check-checkmark"></span>
                            </label>
                            <label class="feedback__check-container">Серый
                                <input class="feedback__check-input" type="checkbox" name="color" checked="checked">
                                <span class="feedback__check-checkmark"></span>
                            </label>
                            <label class="feedback__check-container">«Тиффани»
                                <input class="feedback__check-input" type="checkbox" name="color">
                                <span class="feedback__check-checkmark"></span>
                            </label>
                            <label class="feedback__check-container">Черный
                                <input class="feedback__check-input" type="checkbox" name="color">
                                <span class="feedback__check-checkmark"></span>
                            </label>
                            <label class="feedback__check-container">Розовый
                                <input class="feedback__check-input" type="checkbox" name="color">
                                <span class="feedback__check-checkmark"></span>
                            </label>
                            <label class="feedback__check-container">Оранжевый
                                <input class="feedback__check-input" type="checkbox" name="color">
                                <span class="feedback__check-checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="feedback__fullname">
                    <div class="feedback__padding ">
                        <div class="feedback__decoration">
                            <label class="feedback__tag"><b>Фио</b></label>
                            <div class="feedback__form--line"></div>
                        </div>
                        <div class="feedback__fullname-wrap feedback__position">
                            <div class="feedback__input-wrap">
                                <label class="feedback__input-pad" for=""><b>Имя:</b></label>
                                <input class="form-input feedback__input" type="text" name="name"
                                    placeholder="Введите ваше имя*" required>
                            </div>
                            <div class="feedback__input-wrap">
                                <label class="feedback__input-pad" for=""><b>Фамилия:</b></label>
                                <input class="form-input feedback__input" type="text" name="surname"
                                    placeholder="Введите вашу фамилию*" required>
                            </div>
                            <div class="feedback__input-wrap">
                                <label class="feedback__input-pad" for=""><b>Отчество:</b></label>
                                <input class="form-input feedback__input" type="text" name="patronymic"
                                    placeholder="Отчество, если желаете">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="feedback__contacts">
                    <div class="feedback__padding feedback__tel-mail">
                        <div class="feedback__decoration">
                            <label class="feedback__tag"><b>Тел</b></label>
                            <div class="feedback__form--line"></div>
                        </div>
                        <div class="feedback__contact-wrap feedback__position">
                            <input class="form-input feedback__input" type="tel" name="tel" placeholder="+7 XXX XX XX*"
                                required>
                            <img class="feedback__icon" src="image/icons/icon-phone.svg" alt="">
                        </div>
                        <div class="feedback__decoration">
                            <label class="feedback__tag"><b>Email</b></label>
                            <div class="feedback__form--line"></div>
                        </div>
                        <div class="feedback__contact-wrap feedback__position">
                            <input class="form-input feedback__input" type="email" name="email" placeholder="Ваш Email*"
                                required>
                            <img class="feedback__icon" src="image/icons/icon-mail.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="feedback__additionally">
                    <div class="feedback__padding">
                        <div class="feedback__decoration">
                            <label class="feedback__tag"><b>Доп</b></label>
                            <div class="feedback__form--line"></div>
                        </div>
                        <div class="feedback__label feedback__position">
                            <textarea class="feedback__message" name="message" cols="30" rows="10" placeholder="Опишите все ваши 
                        пожелания к заказу">
                        </textarea>
                        </div>
                    </div>
                </div>
                <div class="feedback__bottom">
                    <div class="feedback__required">*Поля обязательны для заполнения</div>

                    <button class="button feedback__button" type="submit">Отправить заказ</button>
                </div>


            </form>
        </div>
    </section>

</main>