<header class="page-header">
    <nav class="main-nav">
        <div class="main-nav__top">
            <div class="main-nav--help"></div>
            <a class="main-nav__logo" href="">
                <img class="page-header__logo-image" src="image/icons/logo-mobile.svg" alt="">
            </a>
            <button class="main-nav__toggle"><img class="main-nav__toggle--btn" src="image/icons/icon-menu-open.svg"
                    alt=""></button>
        </div>

        <div class="main-nav__wrapper">
            <ul class="main-nav__list site-list">
                <a class="site-list__link" href="catalog.html">
                    <li class="site-list__item ">
                        <img class="site-list__image" alt="">
                        <b class="site-list__description">Каталог товаров</b>

                    </li>
                </a>
                <a class="site-list__link" href="form.html">
                    <li class="site-list__item">
                        <img class="site-list__image" alt="">
                        <b class="site-list__description">Вязание на заказ</b>

                    </li>
                </a>
                <a class="site-list__link" href="">
                    <li class="site-list__item">
                        <img class="site-list__image" src="image/icon-search.svg" alt="">
                        <b class="site-list__description">Поиск по сайту</b>


                    </li>
                </a>
                <a class="site-list__link" href="">
                    <li class="site-list__item">
                        <img class="site-list__image" src="image/icons/icon-cart.svg" alt="">
                        <b class="site-list__description">Корзина: пока пуста</b>


                    </li>
                </a>
            </ul>
        </div>
    </nav>
</header>