<main class="page-main">
    <section class="products">
        <header class="products__nav">
            <ul class="products-list">
                <li class="products-list__item"></li>
                <li class="products-list__item"></li>
                <li class="products-list__item"></li>
            </ul>
        </header>
        <h1 class="products__title">Милые штуки ручной
            работы для дома</h1>
        <div class="products__background ">
            <img class="products__image" src="" alt="">
        </div>
        <div class="services-list">
            <div class="services-list__wrapper">
                <div class="services-list_item">
                    <p class="services-list__title"></p>
                    <img class="services-list__image" src="" alt="">
                </div>
                <div class="services-list__item">
                    <p class="services-list__title"></p>
                    <img class="services-list__image" src="" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="offer">
        <div class="offer__wrapper">
            <div class="offer__title">
                <h2>Вязаные корзинки</h2>
                <h3>ТОВАР НЕДЕЛИ</h3>
            </div>
            <div class="offer__description">
                <p>Экологически чистая пряжа, ручная работа. Доступны в шести расцветках, и трех размерах.</p>
            </div>
            <table class="offer__product-detail">
                <tr class="offer__color">
                    <td>Цвет:</td>
                    <td>«Тиффани»/серый
                    </td>
                </tr>
                <tr class="offer__diameter">
                    <td>Диаметр:</td>
                    <td>25 см</td>
                </tr>
                <tr class="offer__height">
                    <td>Высота:</td>
                    <td>15 см</td>
                </tr>
            </table>
            <div class="offer__image-box">
                <img class="offer__image" src="" alt="">
            </div>
            <div class="offer__cost">
                <p class="offer__price">Цена: 990 руб.</p>
                <button class="button offer__order">Заказать</button>
            </div>
        </div>
    </section>

    <section class="about">
        <h2 class="about__title">Коротко о нас:</h2>
        <div class="about__items">
            <div class="about__item">
                <img class="about__item-image" src="" alt="">
                <b class="about__item-description">Экологически
                    чистые материалы</b>
            </div>
            <div class="about__item">
                <img class="about__item-image" src="" alt="">
                <b class="about__item-description">Скандинавский стиль
                    по российской цене</b>
            </div>
            <div class="about__item">
                <img class="about__item-image" src="" alt="">
                <b class="about__item-description">Увеличивает лайки
                    на фотографиях</b>
            </div>
            <div class="about__item">
                <img class="about__item-image" src="" alt="">
                <b class="about__item-description">Связано вручную с
                    любовью и умилением</b>
            </div>
            <div class="about__item">
                <img class="about__item-image" src="" alt="">
                <b class="about__item-description">Поддержка отечественного производителя</b>
            </div>
            <div class="about__item">
                <img class="about__item-image" src="" alt="">
                <b class="about__item-description">Поставляется в
                    подарочной упаковке</b>
            </div>
        </div>
    </section>

    <section class="reviews">
        <h2 class="reviews__title">Отзывы</h2>
        <button class=" button reviews__write">Написать</button>
        <div class="reviews__wrapper slider">
            <ul class="reviews__authors slider__list">
                <li class="reviews__author reviews__author-1">
                    <p class="reviews__description">Я молодая мама, но всё равно фотографии не набирали и близко
                        такого количества лайков, как у
                        популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке, и мои
                        фотографии сразу стали более стильными, а также набирают больше лайков!</p>
                    <div class="reviews_author-info">
                        <b class="reviews__name">Анастасия Красильникова</b>
                        <p class="reviews__email">@misssssiskras</p>
                    </div>
                </li>
                <li class="reviews__author reviews__author-2">
                    <p class="reviews__description">Я молодая мама, но всё равно фотографии не набирали и близко
                        такого количества лайков, как у
                        популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке, и мои
                        фотографии сразу стали более стильными, а также набирают больше лайков!</p>
                    <div class="reviews_author-info">
                        <b class="reviews__name">Анастасия Красильникова</b>
                        <p class="reviews__email">@misssssiskras</p>
                    </div>
                </li>
                <li class="reviews__author reviews__author-3">
                    <p class="reviews__description">Я молодая мама, но всё равно фотографии не набирали и близко
                        такого количества лайков, как у
                        популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке, и мои
                        фотографии сразу стали более стильными, а также набирают больше лайков!</p>
                    <div class="reviews_author-info">
                        <b class="reviews__name">Анастасия Красильникова</b>
                        <p class="reviews__email">@misssssiskras</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="contacts">
        <div class="contacts__title">
            <h3 class="contacts__title-name">Контакты</h3>
            <img class="contacts_title--image" src="" alt="">
        </div>
        <div class="contacts__info">
            <ul class="contacts__item">
                <li class="contacts__tag">e-mail:</li>
                <li class="contacts__adress">nfo@mimimishkashop.ru</li>
            </ul>
            <ul class="contacts__item">
                <li class="contacts__tag">адрес:</li>
                <li class="contacts__adress">г. Санкт-Петербург,
                    ул. Большая Конюшенная,
                    д. 19/8, офис 101</li>
            </ul>
            <div class="contacts__map">
                <img src="" alt="">
            </div>
        </div>
        <button class="button contacts__write">Напишите нам</button>
    </section>

</main>